---
layout: default
---

<!DOCTYPE html>
<html lang="en">
    
<body class="bg-gray-50 dark:bg-gray-900 dark:text-white px-4 md:px-8 font-sans">
    <div class="container mx-auto">
        <!-- Post Title -->
        <h1 class="post-title">{{ page.title }}</h1>

        <!-- Post Date and Word Count -->
        <p class="text-sm text-gray-600">
            {{ page.date | date: "%b %d, %Y" }} - 
            <span class="italic">{% if page.author %}{{ page.author }}{% else %}Jasmine Chi{% endif %}</span> - 
            {% capture words %}
                {{ page.content | number_of_words }}
            {% endcapture %}
            {{ words }} words
        </p>
        
        <hr class="my-4"/>

        <!-- Post Content -->
        <div class="post-container mb-8">
            {{ content }}
        </div>

        <hr class="my-4"/>
    </div>
    <div class="text-sm text-gray-600">
        Thanks for making it to the end of <a href="{{ page.url }}">{{ page.title }}</a>.
        Fun fact: my favorite color is brown, which is why I try to sneak it in everywhere (and why things are <span class="brown-text">so brown</span>).
    </div>
</body>

</html>
